<%- include('partials/header', {pageTitle: "Meal Planner"}) %>

<div class="container text-center">
  <h1 class="text-center">Meal Planner</h1>
  <p>Welcome to the meal planner!</p>
  <p>Below are the planned dinners for the next 30 days:</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% for (day of days){%> <% let date = new Date(day)%>
    <p><%=date%><%=date.getTime()%></p>
    <p>
      <%=(plannedMeals[0].date)%><%=(new Date(plannedMeals[0].date)).getTime()%>
    </p>
    <%- include('partials/day_card',{day:date.toDateString()})%> <%} %>
  </div>
</div>

<%- include('partials/footer') %>
