<%- include('../partials/header', {pageTitle: "Meals"}) %>
<h1 class="text-center">Meals</h1>
<h2 class="text-center">Display all Meals</h2>
<p class="text-center"><a href="meals/new">Add New Meal</a></p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name <br>(click for ingredients)</th>
            <th scope="col">Servings</th>
            <th scope="col">Calories</th>
            <th scope="col">Cook Time</th>
            <th scope="col">Recipe URL</th>
            <th scope="col">Edit Meal</th>
            <th scope="col">Delete Meal</th>
          </tr>
        </thead>
        <tbody>
          <% meals.forEach(meal => {%>
          <tr>
            <th scope="row"><%=meal.meal_id%></th>
            <td><a href="/meals/<%=meal.meal_id%>"><%=meal.name%></a></td>
            <td><%=meal.servings%></td>
            <td><%=meal.calories%></td>
            <td><%=meal.cookTime%></td>
            <td><%=meal.recipe_url%></td>
            <td class="text-center">
              <a href="/meals/<%=meal.meal_id%>/edit"><button type="submit" class="btn btn-success">Edit</button></a>
            </td>
            <td>
              <div class="text-center">
                <form action="/meals/<%= meal.meal_id %>/delete" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>