<%- include('../partials/header', {pageTitle: "Meal Details"}) %>
<h1 class="text-center">Meal</h1>
<p class="text-center"><a href="/meals/new">Add New Meal</a></p>
<div class="container">
  <p><b>Name</b> <%=meal.name%></p>
  <p><b>Servings</b> <%=meal.servings%></p>
  <p><b>Calories</b> <%=meal.calories%></p>
  <p><b>Cook Time</b> <%=meal.cookTime%></p>
  <p><b>URL</b> <a href="<%=meal.recipe_url%>"><%=meal.recipe_url%></a></p>
  <div class="text-center">
    <a href="/meals/<%=meal.meal_id%>/edit"><button type="submit" class="btn btn-success">Edit Meal Info</button></a>
    <form action="/meals/<%= meal.meal_id %>/delete" method="POST">
      <button type="submit" class="btn btn-danger">Delete Meal</button>
    </form>
  </div>
</div>
<hr>
<h1 class="text-center">Recipe for <%=meal.name%></h1>
<div class="container">
  <ul>
    <%ingredients.forEach(ingredient => {%>
    <li><%= ingredient.amount%> <%= ingredient.unit%> <a href='/ingredients/<%=ingredient.ingredient_id%>'><%= ingredient.name%></a></li>
    <%})%>
  </ul>
  <div class="text-center">
    <a href="/recipes/<%=meal.meal_id%>/edit"><button type="submit" class="btn btn-success">Edit Recipe</button></a>
  </div>
</div>
<h2 class="text-center mt-3">Instructions</h2>
<p class="text-center text-body-secondary"><small>(Part of Meal Info)</small></p>
<div class="container" style="white-space: pre-wrap">
  <%=meal.instructions%>
</div>

<%- include('../partials/footer') %>